@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>I have loved Walt Disney World since I was a kid. I spent a year of my college career making magic in the theme parks and even met my husband there.</p>
<p>My family travels to the Walt Disney World Reost at least once a year. I find that keeping everything organized for your trip can be difficult. You have the hotel and transportation to get there booked a year in advance. Then you can book dining reservations at 180 days and park reservations/fast passes (with no COVID) at 60 days before arrival.</p>
<p> Having a place to keep all of this, other than your email inbox, is crucial to staying organized.</p>


