@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>


<address>
    PO BOX 123<br />
    Indianapolis, IN 46221<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:brittany.korycki@gmail.com">brittany.korycki@gmail.com</a><br />
</address>