@{
    ViewBag.Title = "Home Page";
}

<div class="container">
<div class="jumbotron">
    <h1>Disney Vacation Planning Assistant</h1>
    <p class="lead">This is a place to keep everything for your Walt Disney World vacation. Whether it be a few weeks away or months of planning ahead.</p>
</div>
    <div class="row">
        <div class="col-md-12">
            <blockquote>
                <p>
                    All your dreams can come true, if we have the courage to pursue them.
                </p>
                <footer>Walt Disney</footer>
            </blockquote>
        </div>
    </div>
    </div>

<div class="container">
<div class="row">
    <div class="col-md-3">
        <h3>Transportation Reservations</h3>
        <p>
            This is where you will store and see all of your flight, bus, train or other transportation details.
        </p>
        <p><a class="btn btn-default" href="~/Transport/Index">Transportation &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h3>Accommodation Reservations</h3>
        <p>This is the place for you hotel, VRBO, AirBNB or other accomodation information.</p>
        <p><a class="btn btn-default" href="~/Accommodation/Index">Accommodations &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Dining Reservations</h2>
        <p>This is where you will be eating while at the theme parks.</p>
        <p><a class="btn btn-default" href="~/Dining/Index">Dining &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>A Day in the Park</h2>
        <p>This is where you can see all reservations and activities for a single day.</p>
        <p><a class="btn btn-default" href="~/Today/Today">Today &raquo;</a></p>
    </div>
</div>
</div>