@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Disney Vacation Planning Assistant</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

     
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/Content/mk.jpg" alt="MK" width="1200" height="700">
                <div class="carousel-caption">
                    <h3>The Magic Kingdom</h3>
                    <blockquote>
                        <p>
                           Here you leave today and enter the world of yesterday, tomorrow and fantasy.
                        </p>
                        <footer>Walt Disney</footer>
                    </blockquote>
                </div>
            </div>

            <div class="item">
                <img src="~/Content/EPCOT.jpg" alt="EPCOT" width="1200" height="700">
                <div class="carousel-caption">
                    <h3>Epcot</h3>
                    <p>Travel Around the Globe, Under the Sea, into Outer Space....And Beyond!</p>
                </div>
            </div>

            <div class="item">
                <img src="~/Content/das.jpg" alt="DHS" width="1200" height="700">
                <div class="carousel-caption">
                    <h3>Disney's Hollywood Studios</h3>
                    <p>Incredidible Excitement Awaits at Every Turn
                    </p>
                </div>
            </div>

            <div class="item">
                <img src="~/Content/dak.jpg" alt="DAK" width="1200" height="700">
                <div class="carousel-caption">
                    <h3>Animal Kingdom</h3>
                    <p>
                        Behold the Magic of Nature with Rare Animals and Wild Entertainment
                    </p>
                </div>
            </div>
        </div>

      
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <div class="container text-center">
        <h1>Disney Vacation Planning Assistant</h1>
        <h3><em>This is a place to keep everything for your Walt Disney World vacation. Whether it be a few weeks away or months of planning ahead.</em></h3>

    </div>
    <div class="row">
        <div class="col-md-12">
            <blockquote>
                <p>
                    All your dreams can come true, if we have the courage to pursue them.
                </p>
                <footer>Walt Disney</footer>
            </blockquote>
        </div>
    </div>
    <br>


    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="~/Content/planewing.jpg" class="img-circle person" alt="transportation" width="255" height="255" href="~/Transport/Index" />
                <h3>Transportation Reservations</h3>
                <p>
                    This is where you will store and see all of your flight, bus, train or other transportation details.
                </p>
                <p><a class="btn btn-default" href="~/Transport/Index">Transportation &raquo;</a></p>
            </div>
            <div class="col-md-3">
                <img src="~/Content/hotelroom.jpg" class="img-circle person" alt="hotel" width="255" height="255" href="~/Accommodation/Index" />
                <h3>Accommodation Reservations</h3>
                <p>This is the place for you hotel, VRBO, AirBNB or other accomodation information.</p>
                <p><a class="btn btn-default" href="~/Accommodation/Index">Accommodations &raquo;</a></p>
            </div>
            <div class="col-md-3" href="~/Dining/Index">
                <img src="~/Content/restaurant.jpg" class="img-circle person" alt="restaurant" width="255" height="255" />
                <h2>Dining Reservations</h2>
                <p>This is where you will be eating while at the theme parks.</p>
                <p><a class="btn btn-default" href="~/Dining/Index">Dining &raquo;</a></p>
            </div>
            <div class="col-md-3">
                <img src="~/Content/castleears.jpg" class="img-circle person" alt="today" width="255" height="255"/>
                <h2>A Day in the Park</h2>
                <p>This is where you can see all reservations and activities for a single day.</p>
                <p><a class="btn btn-default" href="~/Today/Today">Today &raquo;</a></p>
            </div>
        </div>
    </div>



</head>
</html>


<style>
    .container {
        padding: 80px 120px;
    }
    .person {
        border: 10px solid transparent;
        margin-bottom: 25px;
        width: 75%;
        height: 50%;
        opacity: 0.7;
    }
    .person:hover {
            border-color: #f1f1f1;
     }
    .carousel-inner img {
        width: 100%;
        margin: auto;
    }
    .carousel-caption h3 {
        color: #ffffff !important;
    }
</style>